<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    body {
      width: 1200px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      color: purple;
    }

    .tdID {
      width: 1100px;
      max-width: 1100px;
      vertical-align: top;
      word-wrap: break-word;
    }

    .thID {
      text-align: right;
      vertical-align: top;
      width: 80px;
    }

    th {
      vertical-align: top;
    }

    img {
      padding: 1px;
      border: 1px solid #021a40;
    }

    ol {
      padding-left: 25px;
    }

    tr:nth-child(even) {
      background: #EAEAEA;
    }

    tr:nth-child(odd) {
      background: #F0F0F0;
    }

    .HighP {
      background-color: red;
    }

    .MediumP {
      background-color: orange;
    }

    .LowP {
      background-color: cyan;
    }

    .Skip {
      background-color: #FFFFFF;
    }

    tr:nth-child(even) {
      background: #e5e5e5;
    }

    tr:nth-child(odd) {
      background: #F5F5F5;
    }

    a,
    a:hover {
      text-decoration: none
    }

    a {
      color: #00f
    }

    a:hover {
      font-weight: bold
    }

    th,
    td {
      padding: 5px;
    }

    img {
      max-height: 1000px;
      max-width: 1000px;
      height: auto;
      width: auto;
    }

    pre {
      white-space: pre-wrap;
    }
  </style>
</head>

<body>
  {{{body}}}
</body>

</html>